@model Sparkle.LinkedInNET.Profiles.Connections

<h1>@Html.ActionLink("Explore", "Index")</h1>

<h2>Profile</h2>
@{
    var profile = (Sparkle.LinkedInNET.Profiles.Person)this.ViewBag.Profile;
    var me = profile;
}
<dl class="srkdl">
    <dt>Name</dt>
    <dd>@(me.Firstname) @(me.Lastname)</dd>

    <dt>Headline</dt>
    <dd>@(me.Headline)</dd>
</dl>

<h2>Connections</h2>
@{
    string id = this.ViewBag.id;
    int total = Model.Total;
    int start = this.ViewBag.start;
    int count = this.ViewBag.count;
    int pages = (int)Math.Ceiling((double)total / (double)count);
    int? days = this.ViewBag.days;
}

<p class="pagination">
@for (int i = 0; i < pages; i++) {
    int index = i * count;
    <a href="@Url.Action("Connections", new { id = id, count = count, start = index, days = days, })" class="@(start == index ? "current" : "")">@(i + 1)</a>
}
</p>

<p>Other queries: 
    <a href="@Url.Action("Connections", new { id = id, count = count, start = 0, days = 10, })" >New connections (10 days)</a>, 
    <a href="@Url.Action("Connections", new { id = id, count = count, start = 0, days = 30, })" >New connections (30 days)</a>, 
    <a href="@Url.Action("Connections", new { id = id, count = count, start = 0, days = 30, })" >New connections (90 days)</a>
</p>

@if (Model != null && Model.Person != null) {
    foreach (var c in Model.Person) {
<h3 class="clear">
            @Html.ActionLink(c.Firstname + " " + c.Lastname, "Person", new { id = c.Id, }), @c.Headline 
        @if (c.SiteStandardProfileRequest != null) {
            @:[<a href="@c.SiteStandardProfileRequest.Url">open</a>]
        }</h3>
<dl class="srkdl">
        @if (c.Location != null) {
    <dt>Location</dt><dd>@c.Location.Name, @c.Location.Country.Code</dd>
        }
        @if (c.Industry != null) {
    <dt>Industry</dt><dd>@c.Industry</dd>
        }
        @if (c.PictureUrl != null) {
    <dt>Picture</dt><dd><img src="@c.PictureUrl" alt="" title="@c.PictureUrl" /></dd>
        }
        @if (c.Summary != null) {
    <dt>Summary</dt><dd><pre>@c.Summary</pre></dd>
        }
</dl>
    }
}

