
<style type="text/css">
    .ok {
        color: #00b017;
    }

    .error {
        color: #f00;
    }

    a.button {
        display: inline-block;
        border: 1px solid gray;
        background: #e8e8e8;
        border-radius: 2px;
        padding: 5px;
    }
</style>


<h1>@Html.ActionLink("Explore", "Index")</h1>

<h2>Search</h2>

@using (Html.BeginForm("SearchCompany", "Explore", FormMethod.Get)){
<label>Keywords: @Html.TextBox("keywords")</label>
<input type="submit" value="Search company" />
}

<h2>Share...</h2>
<p>@Html.ActionLink("Compose share as yourself...", "UserShare", null, new { @class = "button", })</p>
<p>@Html.ActionLink("Compose share as company...", "CompanyShare", null, new { @class = "button", })</p>

<h2>You</h2>
@{
     var jsonSettings = new Newtonsoft.Json.JsonSerializerSettings
    {
        NullValueHandling = Newtonsoft.Json.NullValueHandling.Ignore,
    };
    //var me = (Sparkle.LinkedInNET.Profiles.Person)this.ViewData["MyProfile"];
    var profile = (Sparkle.LinkedInNET.Profiles.Person)this.ViewBag.Profile;
    var me = profile;
    IList<string> pictures = null;
    var pictureUrls = (Sparkle.LinkedInNET.Profiles.PictureUrls)this.ViewBag.Pictures;
    if (pictureUrls != null) {
        pictures = pictureUrls.PictureUrl ?? new List<string>();
        if (me != null && me.PictureUrl != null)
        {
            pictures.Add(me.PictureUrl);
        }
    }
}
<dl class="srkdl">
    @foreach (var item in pictures)
    {
        <dt>Picture</dt>
        <dd><img src="@item" /></dd>
    }

    <dt>Id</dt>
    <dd>@(me.Id)</dd>

    <dt>Name</dt>
    <dd>@(me.Firstname) @(me.Lastname)</dd>

    <dt>Headline</dt>
    <dd>@(me.Headline)</dd>

@if (me.Positions != null && me.Positions.Position != null)
{
    foreach (var position in me.Positions.Position)
    {
    <dt>Job</dt>
    <dd><em>@position.Title</em> at 
        @if (position.Company != null){
            if (position.Company.Id > 0){
                @Html.ActionLink(position.Company.Name ?? "?????????", "Company", new { id = position.Company.Id, })
            }else{
            <strong>@position.Company.Name</strong>
            }
        }else{
            @:?
        }
    </dd>
    }
} else {
    <dt>Job</dt>
    <dd>none</dd>
}

<dt>Connections</dt>
<dd>@Html.ActionLink("Go to all connections", "Connections", new { id = me.Id, })</dd>
@if (me.Connections != null && me.Connections.Person != null) {
    foreach (var c in me.Connections.Person) {
<dt>Connection</dt>
<dd>
        <h3>
            @Html.ActionLink(c.Firstname + " " + c.Lastname, "Person", new { id = c.Id, }), @c.Headline 
        @if (c.SiteStandardProfileRequest != null) {
            @:[<a href="@c.SiteStandardProfileRequest.Url">open</a>]
        }</h3>
        <p>
        @if (c.Location != null) {
            <br /><span>@c.Location.Name, @c.Location.Country.Code</span>
        }
        @if (c.Industry != null) {
            <br /><span>@c.Industry</span>
        }
        @if (c.PictureUrl != null) {
            <br /><img src="@c.PictureUrl" alt="" />
        }
        </p>
</dd>
    }
}

    <dt>JSON</dt>
    <dd>
        <p>Type: <code>@me.GetType().ToString()</code></p>
        <pre>@Newtonsoft.Json.JsonConvert.SerializeObject(me, Newtonsoft.Json.Formatting.Indented, jsonSettings)</pre>
    </dd>
</dl>

<h2>Companies</h2>
<p>@Html.ActionLink("Simple list", "Companies")</p>


