@model Sparkle.LinkedInNET.Profiles.Person
@{
    
}

<h1>@Html.ActionLink("Explore", "Index")</h1>

<h2>@Model.Firstname @Model.Lastname</h2>
<dl class="srkdl">
    <dt>Picture</dt>
    <dd>
@if (Model.PictureUrl != null) {
<img src="@Model.PictureUrl" alt="picture" title="@Model.PictureUrl" />
} else {
@:none
}
    </dd>

    <dt>Name</dt>
    <dd>@(Model.Firstname) @(Model.Lastname)</dd>

    <dt>Headline</dt>
    <dd>@(Model.Headline)</dd>

    <dt>PublicProfileUrl</dt>
    <dd>@(Model.PublicProfileUrl)</dd>

@if (Model.Location != null){
    <dt>Location</dt>
    <dd>@Model.Location.Name @(Model.Location.Country != null ? Model.Location.Country.Code : "")</dd>
}

@if (Model.Positions != null && Model.Positions.Position != null) {
    foreach (var position in Model.Positions.Position)
    {
        <dt>Job</dt>
        <dd><em>@position.Title</em> at 
        @if (position.Company != null){
            if (position.Company.Id > 0){
                @Html.ActionLink(position.Company.Name, "Company", new { id = position.Company.Id, })
            }else{
                <strong>@position.Company.Name</strong>
            }
        }else{
            @:?
        }
        </dd>
    
        <dt>Connections</dt>
        <dd>@Html.ActionLink("Go to all connections", "Connections", new { id = Model.Id, })</dd>
    }
}

@if (Model.Languages != null && Model.Languages.Language != null) {
    foreach (var language in Model.Languages.Language) {
    <dt>Language</dt>
    <dd>@(language.LanguageInfo != null ? language.LanguageInfo.Name : language.Id.ToString())
        @if (language.Proficiency != null) {
        <br />@language.Proficiency.Name
        }
    </dd>
    }
}

@*@if (Model.Connections != null && Model.Connections.Person != null) {
    foreach (var c in Model.Connections.Person) {
<dt>Connection</dt>
<dd>
        <h3>
            @Html.ActionLink(c.Firstname + " " + c.Lastname, "Person", new { id = c.Id, }), @c.Headline 
        @if (c.SiteStandardProfileRequest != null) {
            @:[<a href="@c.SiteStandardProfileRequest.Url">open</a>]
        }</h3>
        <p>
        @if (c.Location != null) {
            <br /><span>@c.Location.Name, @c.Location.Country.Code</span>
        }
        @if (c.Industry != null) {
            <br /><span>@c.Industry</span>
        }
        @if (c.PictureUrl != null) {
            <br /><img src="@c.PictureUrl" alt="" />
        }
        </p>
</dd>
    }
}*@

    <dt>JSON</dt>
    <dd>
        <p><code>@Model.GetType().ToString()</code></p>
        <pre>@Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented)</pre>
    </dd>
</dl>
