@model Sparkle.LinkedInNET.DemoMvc5.ViewModels.Explore.CompanyShareModel
@{
    var result = (this.ViewBag.Result) as Sparkle.LinkedInNET.Common.PostShareResult;
}

<h1>@Html.ActionLink("Explore", "Index")</h1>

@if (result != null)
{
    <h2>Result</h2>
    <p>Success! </p>
    <pre>Location  = @result.Location
UpdateKey = @result.UpdateKey
UpdateUrl = @result.UpdateUrl</pre>
}

<h2>Post as yourself</h2>

@using (Html.BeginForm("UserShare", "Explore", FormMethod.Post)) {
<p><label>Content: <br />@Html.TextArea("Json", Model.Json, new { rows = 14, cols = 120, })</label></p>
<p><input type="submit" value="Post" /></p>
}

<h2>Infos</h2>
<p>To execute this request, you must request the permission <code>rw_nus</code>. </p>
