@{
    ViewBag.Title = "Index";
}

<h2>1. Authorize @(this.ViewBag.Token != null ? "(ok)" : "")</h2>

<p><a href="@this.ViewBag.Url">Authorize now (redirects to LinkedIn)</a></p>
<pre>@this.ViewBag.Url</pre>

<h2>2. Store token @(this.ViewBag.Token != null ? "(ok)" : "(todo, see 1.)")</h2>
<pre>@this.ViewBag.Token</pre>
